$clr-bg-main: hsl(233, 47%, 7%);
$clr-bg-card: hsl(244, 38%, 16%);
$clr-accent: hsl(277, 64%, 61%);
$clr-image-filter: hsla(277, 75%, 25%, 0.65);

$clr-heading: hsl(0, 0%, 100%);
$clr-p: hsla(0, 0%, 100%, 0.75);
$clr-headings-transparant: hsla(0, 0%, 100%, 0.6);

$fs-1: 0.75rem;
$fs-2: 0.875rem;
$fs-3: 0.9375rem;
$fs-4: 1.5rem;
$fs-5: 1.625rem;
$fs-6: 2.25rem;

$default-font-family: 'Inter', ui-sans-serif, system-ui, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$heading-font-family: 'Lexend Deca', ui-sans-serif, system-ui, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
